BOT_TOKEN=8739339813:AAH7P7xnEQ8fgB5nxWSUAFlgohH1VyTJbZY
PORT=3000

# Telegram WebApp buttons MUST be HTTPS
PUBLIC_WEBAPP_URL=https://testing.2uscore.com/web/
PUBLIC_ADMIN_URL=https://testing.2uscore.com/admin/

