BOT_TOKEN=8415804789:AAEp2jQMScXei8ChYmNPTBBZQZb3Q2pJ3AQ
PORT=3000

# Telegram WebApp buttons MUST be HTTPS
PUBLIC_WEBAPP_URL=https://your-webapp-tunnel.example
PUBLIC_ADMIN_URL=https://your-admin-tunnel.example

