BOT_TOKEN=8285019090:AAG8DrD2N-wqjbkWEc40QSHd5kURy9N85JY
PORT=3000

# Telegram WebApp buttons MUST be HTTPS
PUBLIC_WEBAPP_URL=https://your-webapp-tunnel.example
PUBLIC_ADMIN_URL=https://your-admin-tunnel.example

